<!doctype html>
<head>
<title>NativePlanet</title>
<body>
<div class="wrap">
<div class="bg-img">
<div class="title">
    <h1> Welcome to NativePlanet</h1>
</div></div></div>

<div>
<div class="box">
   <p>Please select your network conneciton below to get started. </p>
   <form action = "/setup/ethernet" method = "POST"
         enctype = "multipart/form-data">
      <input type = "submit" value="I'll keep my Native Planet Hardwired via Ethernet" 
         name="eth_button" id="submit" />
   </form>
   </br>
   </br>
   <form action = "/setup/wifi" method = "POST"
         enctype = "multipart/form-data">
      <p>Connect Wirelessly</p>
      <select name="ssid" method="GET" action="/">
       {% for ssid in ssids %}
          <option value= "{{ssid}}" SELECTED>{{ssid}}</option>"
       {% endfor %}
      </select>
      </br>
      <p> Wifi Password</p>
      <input name="password">
      <input type="submit" value="Connect via Wifi">
   </form>
</div></div>


</body>
