@font-face {
  font-family: BPdotsUnicase;
  src: url("/font/Inter-Black.otf");
  /*src: url('/font/BPdotsUnicaseBold.otf');*/
  font-display: swap;
}
@font-face { font-family: Inter; font-style: normal; font-weight: 100; font-display: swap; src: url("/font/Inter-Thin.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 200; font-display: swap; src: url("/font/Inter-ExtraLight.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 300; font-display: swap; src: url("/font/Inter-Light.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 400; font-display: swap; src: url("/font/Inter-Regular.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 500; font-display: swap; src: url("/font/Inter-Medium.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 600; font-display: swap; src: url("/font/Inter-SemiBold.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 700; font-display: swap; src: url("/font/Inter-Bold.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 800; font-display: swap; src: url("/font/Inter-ExtraBold.otf"); }
@font-face { font-family: Inter; font-style: normal; font-weight: 900; font-display: swap; src: url("/font/Inter-Black.otf"); }

@font-face {
  font-family: Source;
  src: url('/font/SourceCodePro-Regular.otf');
}
body {
  margin: 0;
  /*
  background-position: cover;
  background-attachment: fixed;
  */
}

:root {
  --log-font: Source;
  --regular-font: Inter;
  --title-font: BPdotsUnicase;
  --bg-base: #E8E8E3CD;
  --bg-card: #161D17;
  --bg-modal: #DDE3DF;
  --bg-warning: #EDF02C;
  --fg-card: #2C3A2E;
  --btn-special: #08A317;
  --btn-primary: #047710;
  --btn-secondary: #5C7060;
  --text-color: #313933;
  --text-card-color: #F8F8F6;
  --boot-selector-color: #F1F2EE;
  --bg-boot-arrow: #ABBAAE;
  --locked-color: #A31708;
}

