.container {
  flex: 1;
  background: var(--bg-base);
  color: var(--text-color);
  padding: 40px;
  border-radius: 16px;
  margin: 0;
}
.title {
  font-size: 24px;
  margin-bottom: 56px;
  font-family: var(--title-font);
}
