.container {
 background-color: var(--bg-base);
 color: var(--text-color);
 margin: auto;
 border-radius: 16px;
}
.title {
  font-size: 24px;
  margin-bottom: 56px;
  font-family: var(--title-font);
}
