.container {
  background-color: var(--bg-base);
  color: var(--text-color);
  border-radius: 16px;
  min-width: 700px;
  backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.prof-title {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--title-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
}
