.container {
  flex: 1;
  background: var(--bg-base);
  color: var(--text-color);
  padding: 56px;
  border-radius: 16px;
  margin: 0;
  min-width: 700px;
}
.sys-title {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: BPdotsUnicase;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
}
