/* default */
a {text-decoration: none}

/* standard design for pier info */

.pier-info {margin-bottom: 12px}
.pier-title {
  font-weight: 700;
  margin-bottom: 12px;
  text-align: left;
}
.pier-cred-wrapper {display: flex;}
.pier-cred {
  font-style: italic;
  font-size: 12px;
  padding: 8px;
  background: #ffffff4d;
  border-radius: 6px;
  flex: 1;
  cursor: pointer;
}
