[Unit]
Description=NativePlanet GroundSeg Controller
After=multi-user.target
[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/opt/nativeplanet/groundseg/
ExecStart=docker-compose up -d
[Install]
WantedBy=multi-user.target
