[Unit]
Description=NativePlanet GroundSeg Controller
After=multi-user.target
[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/opt/nativeplanet/groundseg/
ExecStart=./groundseg.sh
ExecStop=docker-compose down
[Install]
WantedBy=multi-user.target
