[Unit]
Description=NativePlanet GroundSeg Controller
After=multi-user.target
[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/opt/nativeplanet/groundseg/
ExecStartPre=while true; do eval "$(cat commands)"; done
ExecStart=/bin/bash -c 'HOST_HOSTNAME=$(hostname) exec docker compose up'
ExecStop=docker compose down
[Install]
WantedBy=multi-user.target
