<!doctype html>
<head>
<title>NativePlanet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
<script>
function copyCode() {
  /* Get the text field */
  var copyText = document.getElementById("code");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
</script>
<style>

body {
  font-family:Inter;
  background: url({{ url_for('static', filename='background.png') }}) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #050505;
}
</style>

<body>
<a href="/">
   <img class='home' src={{ url_for('static', filename='home.png') }} />
</a>

<div class="wrapper">

   <a href="/">
      <img class='logo' src={{ url_for('static', filename='nplogo.png') }} />
   </a>

   <h2>~{{ pier['name'] }}</h2>
   <hr class='rounded'>

{% if pier['running'] %}
<a href="/urbit/access?pier={{ pier['name'] }}">
   <input class='blue-btn' type="submit" value="Access your Urbit!" name="{{ pier['name'] }}"/>
</a>

<div class="box">
<p> Please copy your +code to login: </p>
   <input readonly id='code' class='code' type="text" value="{{ pier['code'] }}">
   <!--
      <button onclick="copyCode()">
      <img class='copy' src={{ url_for('static', filename='copy.png') }} />
   </button>
   -->


<form action = "/urbit/stop" method="POST">
   <input class='stop-btn' type="submit" value="Stop" name="{{ pier['name'] }}" />
</form>

{% else %}
</br></br></br>
<form action = "/urbit/start" method="POST">
   <input class='start-btn' type="submit" value="Start" name="{{ pier['name'] }}" />
</form>

{% endif %}
<hr class="rounded">

<form action = "/urbit/eject" method="POST">
   <input class='eject-btn' type="submit" value="Eject" name="{{ pier['name'] }}" />
</form>

<form action = "/urbit/delete" method="POST">
   <input class='delete-btn' type="submit" value="Delete" name="{{ pier['name'] }}" />
</form>



</div>
</div>

</body>
