<!doctype html>
<head>
<title>NativePlanet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
<style>

body {
  font-family: Inter;
  background: url({{ url_for('static', filename='background.png') }}) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #050505;
}
</style>

<body>
<a href="/">
   <img class='home' src={{ url_for('static', filename='home.png') }} />
</a>

<div class='wrapper'>
   <h3> Settings </h3>

<div class="internet">
   <h3> WiFi / Connection Settings </h3>
</div>

<div class="anchor">
   <h3> Anchor Settings </h3>
</div>

<div class="bitcoin">
   <h3> Bitcoin Location </h3>
   TODO
</div>
<hr class="rounded">

<div class="sys_info">
   <h3> System Information </h3>
   <p> <b>RAM:</b> {{ ram }} %  </p>
   <p> <b>Storage:</b> {{ '%0.2f'| format(disk.used / 1e9)  }} GB / {{ '%0.2f'| format(disk.total /1e9) }} GB</p> 
   <p> <b>CPU Temp:</b> {{ temp }} &deg;C </p>
</div>
<hr class="rounded">

<div class="shutdown">
   <h3> Shutdown/ Restart </h3>
   <form action = "/settings/shutdown" method="POST">
      <input class='shutdown-btn' type = "submit" value="Shutdown" /></br>
   </form>
   <form action = "/settings/restart" method="POST">
      <input class='gray-btn' type = "submit" value="Restart" /></br>
   </form>
</div>
<hr class="rounded">

<div class="log">
   <h3> Export Logs </h3>
   <form action = "/settings/logs" method="POST" enctype = "multipart/form-data">
      <select class='log-select' name="logs">
         <option value="{{ container_logs[0] }}" selected>{{ container_logs[0] }}</option>
         {% for container in container_logs[1:] %}
            <option value="{{ container }}">{{ container }}</option>
         {% endfor %}
      </select>
      <input class='grey-btn' type = "submit" value="View" name="logs" /></br>
   </form>
</div>
</div>


</body>
