<!doctype html>
<head>
<title>NativePlanet</title>
<link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
<style>

body {
  font-family:Inter;
  background: url({{ url_for('static', filename='background.png') }}) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: #050505;
}
.gray-btn { width:100%;}

</style>

<body>
<a href="/settings">
   <img class='settings' src={{ url_for('static', filename='settings.png') }} />
</a>

<div class='wrapper'>
   <img class='logo' src={{ url_for('static', filename='nplogo.png') }} />
   <hr class='rounded'>

   <div class="boot">
      <form action = "/upload/pier" method = "GET" enctype = "multipart/form-data">
         <input class='black-btn' font-family="Inter" type = "submit" value="Boot an existing Urbit ID >" name="existing" id="submit" />
      </form>
      <form action = "/upload/key" method = "GET" enctype = "multipart/form-data">
         <input class='gray-btn' type = "submit" value="Boot a new Urbit ID >" name="existing" id="submit" />
      </form>
   </div>
   <hr class="rounded">

   <div class="urbit">
      <h2> Installed Piers </h2>
      
      {% for pier in piers %}
         {% if pier['running'] %}
            <a href="/urbit/pier?pier={{ pier['name'] }}">
               <input class='running-pier' type="submit" value="{{ pier['name'] }}"/>
            </a>
         {% else %}
            <a href="/urbit/pier?pier={{ pier['name'] }}">
               <input class='stopped-pier' type="submit" value="{{ pier['name'] }}"/>
            </a>
         {% endif %}
         </br>
      {% endfor %}

   </div>
</div>
</body>
