<!doctype html>
<head>
<title>NativePlanet</title>
<body>

<div>
<div class="boot">
<h2>Select a pier</h2>
   <form action = "/upload/pier" method = "GET" enctype = "multipart/form-data">
      <input type = "submit" value="Boot an existing Urbit ID >" name="existing" id="submit" />
   </form>
   <form action = "/upload/key" method = "GET" enctype = "multipart/form-data">
      <input type = "submit" value="Boot a new Urbit ID >" name="existing" id="submit" />
   </form>
</div></div>

<div>
   <div class="urbit">
      <h2> Select a Pier to Boot </h2>
      <h3> Running Piers </h3>
      
      <form action = "/urbit/stop" method="POST" enctype = "multipart/form-data">
      {% for pier in running_piers %}
      <a href="/urbit/pier?pier={{ pier }}">{{ pier }}</a> 
      <input type="submit" value="stop" name="{{ pier }}" />
      {% endfor %}
      </form>


      <h3> Start Piers </h3>
      <form action = "/urbit/start" method="POST" enctype = "multipart/form-data">
      {% for pier in stopped_piers %}
      <input type = "submit" value="{{ pier }}" name="boot" id="{{ pier }}" /></br>
      {% endfor %}
      </form>

   </div>
</div>


</body>
