.section {
  display: flex;
  align-items: center;
}
.section-left {
  flex: 1;
}
.section-right {
  flex: 1;
  text-align: right;
}
.section-title {
  font-family: var(--regular-font);
  font-size: 16px;
  margin-bottom: 4px;
}
.section-description {
  font-family: var(--regular-font);
  font-size: 12px;
}
